.new-post-form {
  display: flex;
  flex-direction: grid;
  margin-left: 700px;
  width: 450px;
  height: 450px;
  justify-content: center;
  align-content: center;

  .upload-form-div {
    margin-top: 100px;
    width: 1000px;

    .preview-div {
      width: 400px;
      height: 300px;
      border: 1px solid lightgrey;
      border-radius: 5px;
      //   padding: 35px;
      //   padding-left:50px;
      // padding-bottom:20px;
      align-content:center;

      .preview-outline {
        justify-content: space-around;
        align-content: center;
        height: 300px;
        width: 400px;
        // margin: 25px;
        border-radius: 5px;
        // background-color: rgba(218,218,218,0.495);
        font-size: 120px;
        box-shadow: 8px 21px 12px rgba(0, 0, 0, 0.2);

        .scanner-icon {
          object-fit: contain;
          justify-content: space-around;
          margin-left: 70px;
          margin-top:30px;
          width: 60%;
          height: auto;
          // padding:2px;
        }
      }
    }
  }
  .post-form-right {
    margin-left: 50px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 8px 21px 12px rgba(0, 0, 0, 0.2);

    .post-right-top {
      // margin-bottom: 250px;
      // align-items: baseline;
      background-color: forestgreen;
      border-radius: 15px 15px 10px 10px;
      width: 300px;
      // height:60px;
    }
    .post-right-mid {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      width: 300px;
      font-weight: bolder;

      .title-input-field {
        height: 30px;
        max-height: 75px;
        max-width: 250px;
        width: 250px;
        margin: 5px;
        text-align: left;
        background-color: #fafafa;
        padding-left: 5px;
        text-overflow: ellipsis;
        font-size: 14px;
        // margin: 3px;
        border-radius: 3px;
        border: 1px solid #efefef;
        box-sizing: border-box;
      }
      .photo-input-field{
        // background-color: forestgreen;
       color: white;
       font-size: 12px;
       font-weight: 600;
       margin-right: 200px;
       padding: 5px;
       border-radius: 5px;
       width: 90px;
       height: 20px;
       align-content: center;
       outline: none;
       font-weight: bolder;
         background-color: blue($color: #006dcd);
        // color: white;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        margin-left:5px;
        padding: 5px 5px;
        border-radius: 5px;
        width: 250px;
        height: 30px;
        align-content: center;
        outline: none;

      }
      .input{
         background-color: blue($color: #006dcd);
        // color: white;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        width: 90px;
        height: 30px;
        align-content: center;
        outline: none;
      }
      .photo-input-field:hover{
        cursor:pointer;
      }
      // .upload-photo:hover{
      //   cursor:pointer;
      // }
      .location-input-field{
        height: 30px;
        max-height: 75px;
        max-width: 250px;
        width: 250px;
        margin: 5px;
        text-align: left;
        background-color: #fafafa;
        padding-left: 5px;
        text-overflow: ellipsis;
        font-size: 14px;
        // margin: 3px;
        border-radius: 3px;
        border: 1px solid #efefef;
        box-sizing: border-box;
      }
      
    }

    
    .post-right-bottom {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      width: 300px;
      font-weight: bolder;
      height: 50px;
      color: white;

      .post-button-cancel {
        background-color: forestgreen;
        color: white;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        width: 90px;
        height: 30px;
        align-content: center;
        outline: none;
        font-weight: bolder;
      }
      .post-button-cancel:hover{
        cursor:pointer;
      }
      .post-button-upload {
        background-color: blue($color: #006dcd);
        // color: white;
        font-size: 12px;
        font-weight: 600;
        margin-right: 10px;
        padding: 5px 5px;
        border-radius: 5px;
        width: 90px;
        height: 30px;
        align-content: center;
        outline: none;
      }
      .post-button-upload:hover{
        cursor:pointer;
      }
    }
  }
}

