.modal-background {
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
background: rgba(0, 0, 0, 0.7);
z-index: 10;
}

.modal-child {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.modal-errors {
position: absolute;
background-color: rgb(255, 209, 209);
border: 1px solid red;
padding: 10px;
font-family: 'Roboto', sans-serif;
border-radius: 12px;
top: 364px;
left: 586px;
}

.comment-error-modal {
width: 250px;
height: 75px;
background-color:  rgb(255, 209, 209);
color: red;
font-family: 'Roboto', sans-serif;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px;
font-size: 18px;
border: 1px solid red;
}