.nav-bar-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgrey;
  min-width: 815px;
  z-index: 100;
}

.camera {
  margin-top: -2px;
  width: 50px;
  height: 50px;
}

.post-form-icon {
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.my-profile-icon {
  width: 36px;
  height: 36px;
}

.nav-link-logo {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 5px;
}

.nav-left {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-middle {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.nav-icon {
  display: flex;
  color: black;
  text-decoration: none;
}

.nav-right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-search {
  width: 40%;
  min-width: 150px;
  height: 30px;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-radius: 3px;
  background-color: #fafafa;
  outline: none;
  border: 1px solid lightgrey;
  box-sizing: border-box;
}

.search-with-results-wrap {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

.search-result-image {
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  border-radius: 50%;
}

.nav-sign-out:hover {
  cursor: pointer;
}

.nav-sign-out {
  height: 30px;
  width: auto;
  margin-left: 30px;
  font-weight: bolder;
}

.search-result-image {
  width: 30px;
  height: 30px;
  margin: 1px;
  display: flex;
  border-radius: 50%;
}

.search-results-list {
  background: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  right: -12px;
  z-index: 10;
  list-style: none;
  padding-left: 0;
  width: 180px;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-results-container {
  display: flex;
  top: 45px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

.outer-results-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-result-user {
  width: 100%;
  display: flex;
  padding-left: 10px;
  height: 60px;
  z-index: 10;
  align-items: center;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.search-result-li:hover {
  background-color: #fafafa;
}

.search-result-user,
.search-result-user:visited {
  text-decoration: none;
  color: black;
}

.search-result-username {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  font-weight: bold;
}




