.profile-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-left {
        width: 10%;
    }
    .profile-right {
    width: 10%;
    }

    .profile-container {
        margin-top: 100px;
        flex-direction: column;
        background-color: #fafafa;
        font-family: 'Roboto', sans-serif;
        width: 950px;
        
        .profile-top {
            display: flex;
            min-width: 850px;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
        
            // .profile-display-pic-holder {
                
                
                .profile-display-pic {
                    object-fit: cover;
                    border: 1px solid #dbdbdb;
                    background-color: darkgrey;
                    border-radius: 90px;
                    width: 155px;
                    height: 155px;
                }
            // }

            .profile-top-right {
                width: 700px;
                
                .profile-top-up {
                    display: flex;
                    justify-content: space-around;
                    
                    h1 {
                        display: block;
                        font-size: 2em;
                        margin-block-start: 0.67em;
                        margin-block-end: 0.67em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-weight: bold;
                    }

                    .profile-button {
                            background-color: transparent;
                            border: 1px solid #dbdbdb;
                            color: #262626;
                            font-size: 12px;
                            font-weight: 600;
                            margin-right: 10px;
                            padding: 5px 5px;
                            border-radius: 5px;
                            width: 80px;
                            height: 30px;
                            align-content: center;
                            outline: none;
                    }
                }
                .profile-top-down {
                    display: flex;
                    justify-content: space-around;
                }
            }
        
        }
        .profile-photo-index-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            min-width: 900px;
            padding-left: 20px;
        
            .profile-photo-index {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                list-style: none;
                padding-left: 0;

                li {
                    display: list-items;
                    text-align: -webkit-match-parent;
                }
                .image-container {
                    position: relative;
                    .user-page-photos {
                        object-fit: cover;
                        z-index: 1;
                        width: 250px;
                        height: 250px;
                        margin: 20px;
                    }
                }
            }
        }
    
    
    }



}