.update-profile-text {
  font-size: 16px;
  padding-bottom: 5px;
  margin-left: 15px;
}
.post-form-container {
  display: flex;
  flex-direction: grid;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  align-items: center;
}

.post-button-upload {
  width: 80px;
  height: 25px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 3px;
  box-sizing: border-box;
  margin-bottom: 7px;
  background-color: #3897f0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.post-button-cancel {
  width: 80px;
  height: 25px;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 3px;
  box-sizing: border-box;
  margin-bottom: 7px;
  background-color: #3897f0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fafafa;
}
.profile-pic-main {
  height: 50%;
  object-fit: cover;
}
.update-form-right {
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-left: 20px;
  margin-top: 100px;
  margin-bottom: 300px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.0975);
}

.update-right-top,
.update-left-top {
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35px;
  width: 100%;
  color: black;
  background-color:transparent;
  border-radius: 4px 4px 0px 0px;
}

.update-right-mid {
  height: 80%;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.update-right-bottom {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.update-text-input {
  text-align: left;
  width: 250px;
  height: 40px;
  background-color: #fafafa;
  padding-left: 5px;
  text-overflow: ellipsis;
  font-size: 14px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  margin-left: 15px;
}


.update-preview {
  height: 450px;
}

.photo-input-field {
  margin-left: 15px;
}